.div-proyects {
    min-height: 100vh;
    background-color: whitesmoke;
}

.div-proyectos-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 3rem;
}

.container-proyectos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.title-proyect{
    font-weight: 200;
    font-size: 40px;
}
.subtitle-proyect{
    font-weight: 500;
}
.project-name{
    text-align: center;
    font-size: 28px;
    font-weight: 100;
}

.clase1 {
    width: 400px;
    height: 250px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.8;  
}

.clase2 {
    width: 400px;
    height: 250px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
    opacity: 0.8;
}

.clase1:hover {
    /* transform: scale(1.05); */
    opacity: 1;
}

.clase2:hover {
    /* transform: scale(1.05); */
    opacity: 1;
}