.div-contact {
  width: 100%;
  min-height: 90vh;
  font-family: 'Calibri';
  display: flex;
  background-color: whitesmoke;
  /* background-image: url('../../assets/imagenes/fondo-textura-gris.jpg');
  background-repeat: no-repeat;
  background-size: cover; */
}

.div-container-contact {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.div-hablemos {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-proyecto {
  font-size: 32px;
  text-align: center;
  font-weight: 100;
  /* color: white; */
}

.text-hablemos {
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  /* color: white; */

}

.text-dejanos-datos {
  font-size: 32px;
  text-align: center;
  font-weight: 100;
  /* color: white; */

}

.text-equipo {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  /* color: white; */

}
.div-contact-media{
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.social-media{
  display: flex;
  align-items: center;
  gap: 5px;
}
.form-contacto {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin: auto;
  gap: 10px;
  margin-bottom: 10px;
  /* color: white; */

}

.input-form,
.area-form {
  width: 70%;
  border: none;
  border-bottom: 2px solid #d6d6d6;
  padding: 10px 5px;
  font-size: 18px;
  font-weight: 200;
  background-color: transparent;
  /* color: white; */

}

.label-form {
  font-weight: 300;
  text-align: start;
}

.area-form {
  resize: none;
  width: 70%;
  height: 90px;
}

.option-select {
  font-size: 18px;
  font-weight: 200;
  color: black;
}

.input-form:focus,
.area-form:focus {
  border-bottom-color: grey;
  outline: none;
}

.button-form {
  width: 20%;
  padding: 10px 20px;
  background-color: grey;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button-form:hover {
  background-color: rgb(154, 154, 154);
}

.success-message {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  height: 15vh;
  border: 1px solid;
  text-align: center;
}

.error-message {
  width: 70%;
  font-size: 15px;
  color: red;
  font-weight: 200;
}

@media screen and (min-width:320px) and (max-width:700px) {
  .div-contact {
    flex-direction: column;
    align-items: center;
  }

  .div-container-contact {
    width: 100%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .form-contacto {
    width: 100%;
    align-items: center;
  }

  .input-form,
  .area-form {
    width: 70%;
  }

  .label-form {
    width: 70%;
    text-align: left;
  }

  .button-form {
    width: 50%;
  }
}

@media screen and (min-width:320px) and (max-width:500px){
.div-contact-media{
  flex-direction: column;
  align-items: start;
  gap: 10px;
  margin-left: 10px;
  margin-top: 10px;
}
.social-media{
  justify-content: center;
  align-items: center;
}
}