.div-arquitecture {
    width: 100%;
    min-height: 100vh;
    /* Asegura que el contenedor ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;

}

.arquitecture-gallery {
    position: relative;
    width: 100%;
    height: 100vh;
    /* Asegura que el contenedor de la imagen ocupe toda la altura del viewport */
}

.arquitecture-gallery :before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.353);
    z-index: 1;
}

.img-arquitecture-carrousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
}

.div-text-construction {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;
    color: white;
    /* Asegura que el texto sea visible sobre el carrusel */
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);
    /* Añade un sombreado al texto para mejorar la legibilidad */
}

.texto-bienvenida-construction {
    font-size: 30px;
    text-align: center;
    font-weight: 700;
}

.texto-presentacion-construction {
    font-size: 40px;
    font-weight: 200;
    font-style: italic;
    text-align: center;
}

/* .div-container-arquitecture {
    width: 100%;
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
} */


.div-container-draft {
    width: 80%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    /* Espaciado entre los elementos */
    padding: 10px;
}

.div-container-draft2 {
    width: 80%;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content:space-evenly;
    padding: 10px;

    /* Espaciado entre los elementos */
}


.div-contain-info {
    max-width: 60%;
    /* Ajusta este valor según tus necesidades */
}

.div-contain-title {
    margin-bottom: 20px;
}

.text-title-arquitecture {
    font-size: 30px;
    font-weight: 500;
}

.text-subtitle-arquitecture {
    font-size: 25px;
    font-weight: 200;
    font-style: italic;
}

.text-describe-arquitecture {
    width: 50%;
    font-size: 20px;
    font-weight: 200;
    color: black;
}
/* .imagen-arquitecture{
   width: 50%; 
   box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);

} */