.nav-container {
    width: 100%;
    min-height: 10vh;
    background-color: black;
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    align-items: center;
}

.link-container {
    width: auto;
    display: flex;
    gap: 2rem;
    margin-right: 10px;
}


.link-path {
    text-decoration: none;
    font-size: 18px;
    font-weight: 300;
    color: white;
    padding: 5px;
    cursor: pointer; 
}

.link-path:hover {
    border-bottom: 2px solid white;
    color: rgb(239, 237, 237);
}

.img-logo {
    width: 5%;
    height: 5%;
}

.div-menuhamburguesa {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 3px;

}

.div-menuhamburguesa :hover {
    background-color: white;
    color: black;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid white;
    border-radius: 3px;
}

.menuhamburguesa {
    color: white;
    width: 30px;
    height: 30px;
    padding: 3px;
}

.menuhamburguesa :hover {
    width: 30px;
    height: 30px;
    padding: 3px;
}


@media screen and (max-width: 767px) {
    .link-container {
        display: none;
        /* Ocultar los enlaces en dispositivos móviles */
    }
}

@media screen and (min-width: 767px) {
    .menuhamburguesa {
        display: none;
    }

    .div-menuhamburguesa {
        display: none;
    }
}

@media screen and (max-width: 1024px) {
    .nav-container {
        padding: 0 10px;
        /* Reducir el padding en tablets */
    }
}