.div-servicios {
    width: 100%;
    min-height: 100vh;
    background-color: whitesmoke;
    display: flex;
    align-items: center;

}

.div-map-servicios {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;

}

.div-servicios .title-servicios {
    font-size: 28px;
    font-weight: 100;
}

.servicio-item {
    width: 30%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3px;
    opacity: 0.8;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    gap: 20px;
}




.div-map-servicios .servicio-item .icono-servicio {
    width: 40px;
    height: 40px;
    color: black;
    margin-top: 10px;
}

.div-map-servicios .servicio-item .type-container {
    color: black;

}

.div-map-servicios .servicio-item .text-container {
    width: 60%;
    /* color: grey; */
    color: black;
    text-align: center;
    font-size: 18px;
}

.div-map-servicios .servicio-item .button-servicios {

    width: 30%;
    height: 10%;
    display: flex;
    justify-content: center;
    background-color: transparent;
    border: none;
    position: relative;
    /* Asegura que el ::after esté posicionado correctamente */
    cursor: pointer;
    margin-bottom: 10px;

}

.div-map-servicios .servicio-item .button-servicios::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    /* Altura del borde */
    background-color: grey;
    transform: scaleX(0);
    /* Inicia escondido */
    transition: transform 0.3s ease;
    /* Transición suave */
}

.div-map-servicios .servicio-item .button-servicios:hover::after {
    transform: scaleX(1);
    /* Muestra el borde al hacer hover */
}



@media (max-width: 1024px) {
    .servicio-item {
        width: 45%;
        height: auto;
        margin: 10px;
    }
    .div-map-servicios{
        margin-top: 20px;
    }
}

@media (max-width: 768px) {

    .servicio-item {
        width: 50%;
    }

    .div-map-servicios{
        margin-top: 20px;
    }

    .div-servicios .title-servicios {
        font-size: 24px;
    }

    .div-map-servicios .servicio-item .type-container {
        font-size: 25px;
    }

    .div-map-servicios .servicio-item .text-container {
        font-size: 18px;
        margin-bottom: 20px;

    }
}

@media (min-width: 320px) and (max-width: 600px) {
    .servicio-item {
        width: 90%;
        height: auto;
        
    }
    .div-map-servicios{
        margin-top: 20px;
    }
}